<?php
/**
 * This file is part of g7mzr/db
 *
 * (c) Sandy McNeil <g7mzrdev@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
$dsn["dbtype"] = "";
$dsn["hostspec"]  = "";
$dsn["databasename"] = "";
$dsn["username"] = "";
$dsn["password"] = "";
?>
